.skills-list {
    list-style: none;
}

.nav, .nav-item, .nav-link {
    transition: all 0.33s ease-in-out;
}

a.text-secondary:hover {
    background-color: #2a3a49;
    color:#d6f3f7!important;
}

.icon-email {
    color: tomato;
}

.icon-github {
    color: #2a3a49;
}

.icon-linkedin {
    color:#3251df;
}

.bg-secondary {
    background-image: linear-gradient(to bottom right, #cbe5e9, #848b78)
}