* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /*Color pallet variables*/

    --background-color: #5e6b7e;
    --text-color: white;
    --section-color-1: #454c4e;
    --section-color-2: #2f455a;
    --section-color-3: #0f5c75;
    --highlight-color-1: #90d9f3;
    --highlight-color-2: #5c6568;
    --coming-soon-color: #49575c;
    --shadow-color: #1a1916;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

#hero-img-div {
    width: 100%;
    height: 40vh;
}

#hero-img-div img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 50% 40%;
}

nav {
    height: 6vh;
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--section-color-1);
}

/*Right now, the links aren't centered well within the navbar.  I need to center them while keeping
their highlight area large enough to butt up against the other links.*/

nav a {
    text-decoration: none;
    padding: 0 4vw;
    color: var(--text-color);
    font-weight: 550;
    font-size: 22px;
}

nav a:hover {
    color: var(--highlight-color-1);
    transition: 0.18s;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--highlight-color-1);
}

article {
    width: 90%;
    margin: 20vh auto;
    background-color: var(--section-color-2);
}

.section-header {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    color: var(--text-color);
    font-weight: 550;
    font-size: 48px;
    border-bottom: 5px solid var(--background-color);
    padding-top: 2vh;
}

#about-me section {
    display: flex;
    justify-content: space-around;
    margin: 5vh 0;
    padding: 2vh 3vw;
    height: 50vh;
}

#about-me section p {
    width: 30vw;
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 0;
    padding: 0 2vw;
}

#about-me section img {
    width: 25vw;
    height: auto;
    align-self: flex-start;
    justify-self: center;
    
}

.project-window {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid var(--section-color-2);

}

.project-window img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.project-window img:hover {
    opacity: 55%;
    transition: 0.25s ease-out;
}

.project-window a {
    position: absolute;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 26px;
    text-shadow: 0 0 6px var(--shadow-color);
}

.coming-soon {
    background-color: var(--coming-soon-color);
}

#my-projects {
    height: 80vh;
}

#project-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 65vh;
    width: 90%;
    margin: 2vh auto 0 auto;
}

#main-projects-div {
    display: flex;
    height: 75%;
}

#left-project-div {
    width: 50%;
    height: 100%;
}

#right-projects-div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#top-project-div {
    height: 50%;
}

#top-project-div img {
    object-position: 50% 0%;
}

#bottom-project-div {
    height: 50%;
}

#more-projects-div {
    height: 25%;
}

#contact-me {
    height: 40vh;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
}

#social-links div {
    display: flex;
    align-items: center;
    width: 20%;
    height: 5vh;
    font-size: 30px;
    font-weight: 500;
}

#social-links div span {
    margin: 0 1vw;
}

#social-links div img {
    background-color: var(--text-color);
    width: 3.5vw;
    height: auto;
    border-radius: 50%;
}

#social-links a {
    text-decoration: none;
    color: var(--text-color);
}

#social-links a:hover {
    color: var(--highlight-color-1);
    transition: 0.25s;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--highlight-color-1);
}

#footer {
    background-color: var(--section-color-1);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 28px;
    font-weight: 450;
    text-shadow: 0 0 10px var(--shadow-color);
    padding: 10px;
    margin-left: 70%;
}

#footer a:hover {
    color: var(--highlight-color-1);
    border-bottom: 3px solid var(--highlight-color-1);
    padding-bottom: 8px;
    text-shadow: none;
    transition: 0.18s;
}